<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Passageiros</title>
</head>
<body>
    <h1>Lista de Passageiros</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Email</th>
                <th>Telefone</th>
            </tr>
        </thead>
        <tbody>
            {% for passageiro in passageiros %}
            <tr>
                <td>{{ passageiro['id'] }}</td>
                <td>{{ passageiro['nome'] }}</td>
                <td>{{ passageiro['sobrenome'] }}</td>
                <td>{{ passageiro['email'] }}</td>
                <td>{{ passageiro['telefone'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
